
/* nav-path */
.path {
	background-color: white;
	width: 760px;
	height: auto;
	border: 4px solid green;
	border-radius: 14px;
	margin: 10px auto;
	padding: 12px 20px 14px 20px;
	color: brown;
}

.path:hover {
	background-color: auto;
	border: 4px solid auto;
	color: brown;
}

.a-link-path {
	background-color: darkgreen;
	text-decoration: none;
	color: white;
	text-shadow: 1px 2px 3px black;
	border-radius: 14px;
	padding: 4px 16px 6px 16px;
	border: 2px solid black;
}

.a-link-path-now {
	background-color: gold;
	padding: 4px 16px 6px 16px;
	border: 2px solid black;
	border-radius: 14px;
	color: black;
}

.a-link-path:hover {
	background-color: orange;
	padding: 4px 16px 6px 16px;
	border: 2px solid black;
}