    <!-- begin: avertizare -->
    <div class="avertizare">
        <p class="p-avertizare">
            <strong id="tag-strong">Avertizare !!!</strong> Этот сайт всё ищё находиться в разработке, пойжалуста, мы просим, де давать ваши личные данные.
        </p>
    </div>
    <!-- end: avertizare -->