/*  */
.wp-arrow-funcs {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	border-radius: 14px;
	border: 2px solid black;
	padding: 14px 20px 14px 20px;
}

.pre {
	font-size: 18px;
	position: relative;
	left: -138px;
	padding-top: 20px;
}

/* Bellow */
.console {
	color: lightblue;
} 

.log {
	color: red;
}

.string {
	color: lightgreen;
}

.block-x {
	background-color: #222;
	margin-bottom: 10px;
	border-radius: 14px;
}

.symbols {
	color: white;
}

.function {
	color: lightyellow;
}

.var {
	color: orange;
}

.comment {
	color: #eee;
}