
.wp-all-about-state {
	background-color: white;
	width: 760px;
	height: auto;
	margin: auto;
	padding: 20px 20px 20px 20px;
	border: 3px solid black;
	border-radius: 14px;

}

.nav-all-about-state {}

.ul-all-about-state {}

.li-all-about-state {}

.a-link-all-about-state {
	color: blue;
	text-decoration: none;
	font-size: 24px;
	font-family: "Verdana";
}

.a-link-all-about-state:hover {
	color: purple;
}
