
.wp-c-plus-plus {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	padding: 20px 20px 20px 20px;
	border: 3px solid black;
	border-radius: 14px;
}

.a-link-c-plus-plus {
	font-size: 20px;
	text-decoration: none;
	font-family: "Verdana";
	line-height: 30px;
}

.a-link-c-plus-plus3:hover {
	color: orange;
}

