

.wp-catalog {
    background-color: white;
    width: 800px;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.wp-catalog {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    padding: 20px;
}

.nav-wp-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Выравнивание элементов по горизонтали */
    gap: 20px; /* Отступы между элементами */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}

.ul-wp-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Выравнивание элементов внутри ul по горизонтали */
    gap: 20px; /* Отступы между элементами */
    padding: 0;
    margin: 0;
    list-style: none;
}

.a-link-wp-catalog {
    text-decoration: none;
    color: inherit; /* Наследуем цвет текста */
}

.li-wp-catalog {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 180px; /* Фиксированная ширина элементов */
    box-sizing: border-box;
    height: 300px;
}

.li-wp-catalog:hover {
  box-shadow: 0px 0px 2px blue;
}

.img-wp-catalog {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.h2-wp-catalog {
    margin: 10px 0 0;
    font-size: 18px;
    color: #333;
}