
.wp-entertainment {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	padding: 20px 20px 20px 20px;
	border: 3px solid black;
	border-radius: 14px;
}

.nav-entertainment {}

.ul-entertainment {}

.li-entertainment {}

.a-link-entertainment {
	text-decoration: none;
	font-size: 24px;
}

.a-link-entertainment:hover {
	color: purple;
}
