
.h2-faq {
	color: orange;
}

.wp-faq {
	background-color: white;
	width: 720px;
	margin: auto;
	padding: 20px 40px 20px 40px;
	border: 2px solid black;
	font-family: "Arial";
	font-size: 24px;
	line-height: 40px;
	border-radius: 14px;
	letter-spacing: 1px;
}

.nav-faq {}

.h2-avertizre {
	color: red;
}

.h2-answers {
	color: darkgreen;
}