
.wp-home {
	background-color: var(--bg-inside-blocks);
	width: 792px;
	height: auto;
	margin: 10px auto 10px auto;
	border: 4px solid green;
	border-radius: 14px;
	font-size: 24px;
}

.wp-home:hover {
	border: 4px solid brown;
	background-color: auto;
}

.wp-home:hover .a-link-right-wp-home {
    color: brown;
}

.h2-wp-lessons {
	color: green;
	margin: 10px;
}

.wp-lessons {
	background-color: auto;
	width: auto;
	height: auto;
	position: relative;
	border-radius: 14px;
	margin: 10px 10px 4px 10px;
	overflow: hidden;
}

.left-wp-lessons {
	background-color: auto;
	width: 180px;
	height: 100%;
	float: left;
	border-radius: 14px;
}

.img-left-wp-lessons {
	width: 100%;
	height: 100%;
	border-radius: 14px;
}

.right-wp-lessons {
	width: calc(100% - 190px);
	height: 100%;
	border-radius: 14px;
	float: right;
	box-sizing: border-box; 
}

.p-right-lessons {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: darkgreen;
}
