
.wp-html {
	background-color: white;
	width: 760px;
	margin: auto;
	padding: 10px 20px 10px 20px;
	border: 4px solid black;
	border-radius: 12px; 
}

.a-link-html {
	text-decoration: none;
	font-size: 24px;
}

.a-link-html:hover {
	color: purple;
}

.h2-topic {
	color: green;
}