
.wp-javascript {
	background-color: white;
	width: 760px;
	height: auto;
	margin: auto;
	padding: 10px 20px 10px 20px;
	border: 2px solid black;
}

.a-link-jaavascript {
	text-decoration: none;
	font-size: 24px;
}