.wp-news {
	background-color: auto;
	width: 800px;
	height: auto;
	margin: 0px auto 10px auto;
	font-size: 15px;
	border-radius: 14px;
	text-align: justify;
	font-size: 26px;
	letter-spacing: 1px;
	line-height: 40px;
}

.wp-news-block {
	background-color: white;
	padding: 0px 20px 20px 20px;
	border: 2px solid black;
	border-radius: 14px;
	margin-bottom: 10px;
}

.h2-wp-news {
	padding-top: 20px;
	padding-bottom: 10px;
}

.a-link-wp-news {
	color: green;
	text-decoration: none;
}

.a-link-wp-news:hover {
	color: orange;
}

.p-wp-stack-section {}

#parag {
	padding: 24px 30px 15px 30px;
	font-family: var(--f_font-family);
	text-align: justify;
	color: rgb(0, 120, 155);
	font-size: 19px;
	line-height: 1.4;
}

/* Colorează h2, a-link-wp-stack-section */ 
#wp-js-section {
	color: orange;
}

#wp-java-section {
	color: red;
}

#wp_c-plus-pus-section {
	color: silver;
	text-shadow: 0px 1px 2px black;
}