
/*.read-more-news {}*/

.wp-news {
	background-color: auto;
	width: 800px;
	height: auto;
	margin: 10px auto;
}

.wp-news-block {
	width: 760px;
	height: auto;
	background-color: white;
	border: 1px solid black;
	border-radius: 14px;
	margin-bottom: 10px;
	padding: 20px 20px 20px 20px;
}

.date {
	background-color: auto;
	width: 100%;
	height: auto;
}

.p-date {
	text-align: right;
}

.h2-wp-news {
	font-size: 24px;
}

.a-link-wp-news {	
	color: blue;
} 

.p-wp-stack-section {
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 20px;
}

.a-link-bellow-block {
	border: 1px solid blue;
	border-radius: 14px;
	padding: 10px 14px 10px 14px;
	font-size: 24px;
	color: green;
}

.a-link-bellow-block:hover {
	background-color: purple;
	color: white;
	border: solid 1px black;
	text-shadow: 1px 1px 2px black;
}

#a-link-gold-color {
	background-color: gold;
	color: black;
	border: 1px solid black;
	padding: 3px 10px 4px 10px;
	border-radius: 10px;
}

#a-link-read-more {
	background-color: darkred;
	color: white;
	padding: 3px 10px 4px 10px;
	border-radius: 10px;
	border: 1px solid black;
	text-shadow: 0px 2px 2px black;
}

#a-link-darkgreen-color {
	background-color: darkgreen;
	color: white;
	text-shadow: 0px 2px 2px black;
	padding: 3px 10px 4px 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#a-link-darkblue {
	background-color: darkblue;
	color: white;
	text-shadow: 0px 2px 2px black;
	padding: 3px 14px 4px 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#a-link-purple {
	background-color: purple;
	color: white;
	text-shadow: 0px 2px 2px black;
	padding: 3px 14px 4px 10px;
	border: 1px solid black;
	border-radius: 10px;
}

a {
	text-decoration: none;
}