
/* Here is page: Operating System Page : */

.wp-security-web {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	padding: 20px 20px 20px 20px;
	border: 2px solid black;
	border-radius: 14px;
}

.nav-security-web {}

.ul-security-web {}

.li-security-web {
	list-style-type: none;
}

.a-link-security-web {
	color: blue;
	font-size: 24px;
	text-decoration: none;
}

.a-link-security-web:hover {
	color: purple;
}