.wp-pug {
	background-color: #fff;
	width: 740px;
	margin: auto;
	border: 2px solid;
	border-radius: 14px;
	padding: 20px 30px 20px 30px;
}

.h2-pug {
	color: green;
}

.nav-extern-links {}

.ul-extern-links {}

.li-extern-links {
	background-color: #387571;
	width: 300px;
	height: auto;
	margin-bottom: 2px;
	padding: 8px 12px 8px 12px;
	cursor: pointer;
	border-radius: 8px;
	list-style: none;
}

.nav-pug {
	padding-top: 0px;
	padding-bottom: 10px; 
}

.ol-pug {}

.a-link-pug {
	text-decoration: none;
	color: blue;
	font-size: 24px;
}

.a-link-pug:hover {
	color: purple;
}

.a-link-at-extern-links {
	text-decoration: none;
	color: lightblue;
	font-size: 24px;
	text-shadow: 0px 1px 1px black;
}

.a-link-at-extern-links:hover {
	color: white;
}

.p-pug {
	font-size: 24px;
	line-height: 30px;
}