
.wp-radio-electronica {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	padding: 16px 20px 16px 20px;
	border: 1px solid black;
	border-radius: 14px;
	font-size: 24px;
	line-height: 35px;
}

li {
	list-style-type: none;
}