.wp-page-js {
	background-color: #fff;
	width: 740px;
	margin: auto;
	border: 2px solid;
	border-radius: 14px;
	padding: 6px 30px 6px 30px;
}

.a-link-wp-page {
	text-decoration: none;
	color: blue;
	font-size: 24px;
}

.a-link-wp-page:hover {
	color: purple;
}
