
.wp-vim {
	background-color: white;
	width: 740px;
	height: auto;
	margin: auto;
	border: 2px solid black;
	border-radius: 14px;
	padding: 20px 30px 20px 30px;
}

.nav-wp-vim {
	background-color: transparent;
	color: green;
}

.a-link-vim {
	color: blue;
	text-decoration: none;
	font-size: 24px;
}

.a-link-vim:hover {
	color: green;
}