/* Page: ABOUT_US.css */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #eee;
	font-family: "Verdana";
}

.header {
	background-color: auto;
	width: 100%;
	height: 50px;
	margin: 0px auto 0px auto;
	padding: 10px 0px 10px 0px;
}

.align-header {
	background-color: auto;
	width: 800px;
	height: auto;
	margin: auto;
}

.left-header {
	background-color: white;
	width: 280px;
	height: auto;
	border-radius: 10px;
	float: left;
	border: 2px solid green;
	padding: 10px 0px 13px 0px;
	text-align: center;
}

.left-header:hover {
	background-color: auto;
	border: 2px solid red;
	cursor: pointer;
}

.left-header:hover a {
	color: red;
	cursor: pointer;
}

.a-link-return-main-page {
	text-decoration: none;
	color: green;
	font-size: 28px;
}

.right-header {
	background-color: white;
	color: blue;
	width: auto;
	height: auto; 
	text-transform: uppercase;
	float: right;
	border-radius: 10px;
	border: 2px solid blue;
}

.H2-name-at-page {
	font-family: 'Helvetica';
	width: 484px;
	font-size: 24px;
	padding: 16px 0px 13px 20px;
}

.wallpaper {
	background-color: white;
	width: 760px;
	margin: 10px auto auto auto;
	padding: 20px;
	border: 2px solid brown;
	border-radius: 10px;
}

.basement {
	background-color: auto;
	width: 100%;
	margin: 0px auto 10px auto;
	padding: auto;
}

.align-basement {
	background-color: #333;
	width: 800px;
	margin: 10px auto 10px auto;
	padding: 20px;
}

h2 {
	font-size: 32px;
}