
.basement {
	background-color: white;
	font-family: "Verdana";
	width: 800px;
	height: auto;
	margin: 10px auto 10px auto;
	padding: 20px 0px 18px 0px;
	letter-spacing: 1px;
	font-size: 25px;
	border: 3px solid black;
	border-radius: 14px;
	text-transform: uppercase;
	text-align: center;

}

.nav-basement {}

.ul-basement {
	list-style-type: none;
}

.li-basement {
	display: inline;
}

.a-link-basement {
	background-color: #a62d2d;
	padding: 12px 16px 12px 16px;
	border: 2px solid black;
	border-radius: 14px;



	text-decoration: none;
	color: white;
	text-shadow: 0px 2px 2px black;
	padding-left: 16px;
	padding-right: 16px;
}

.a-link-basement:hover {
	background-color: orange;
	border: 3px solid black;
}
