
/* Here is file rectnagle.css */

/* Color Icons */
.span-id-icon-1 {
	/*color: red;*/
}

#span-id-color-icon-html-5 {
	/*display: inline-block;*/
	/*background-color: white;*/
	/*width: 12px;*/
	/*height: 16px;*/
	/*box-shadow: 0px 0px 0px black;*/
	/*position: relative;*/
	/*top: 3px;*/
	/*right: -1px;*/
	/*margin-right: 10px;*/
	/*margin-left: 4px;*/
	/*text-shadow: none;*/
}

#span-id-color-icon-css-3 {
	/*display: inline-block;*/
	/*background-color: white;*/
	/*width: 12px;*/
	/*height: 16px;*/
	/*box-shadow: 0px 0px 0px black;*/
	/*position: relative;*/
	/*top: 3px;*/
	/*right: -1px;*/
	/*margin-right: 10px;*/
	/*margin-left: 4px;*/
	/*text-shadow: none;*/
}

/* Color Text From Icons */
#id-color-text-from-icon-html-5 {
	/*color: orange;*/
	/*position: relative;*/
	/*top: -3px;*/
	/*right: 2px;*/
}

#id-color-text-from-icon-css-3 {
	/*color: blue;*/
	/*position: relative;*/
	/*top: -3px;*/
	/*right: 2px;*/
}
