
/* hided rectangle */
#height-at-rectangle {
	display: none;
	background: auto;
	width: 225px;
	height: auto;
	float: left;
}

.nav-left-chapters {	
	width: 100%;
}

.ul-flex-left-chapters {
	cursor: pointer;
}

/* li hided rectangle */
.li-chpater-x {}

.i-icon-chapter {}

/* hided rectangle */
.a-align-chapter-x {
    background: white;
    width: 100%;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Arial';
    letter-spacing: 2px;
    color: black;
    display: block;
    padding: 4px 14px;
    border-bottom: 2px solid #eee;
}

.a-align-chapter-x:hover {
	background-color: lightgreen;
}

#vim {
	color: green;
}

/* HTML */
#HTML5 {
	color: brown;
}

#id-color-text-from-icon-html-5 {
	color: orange;
}

/* CSS3 */
#id-color-text-from-icon-css-3 {
	color: blue;
}

#spn-set {
	color: purple;
}