
/* Here is file: WP_PROGRAMARE.css */

.wp-stack {
	background-color: #fff;
	width: 700px;
	margin: auto;
	border: 2px solid;
	border-radius: 14px;
	padding: 9px 50px 9px 50px;
}

.nav-wp-stack {}

.ol-wp-stack {}

.li-wp-stack {
	font-size: 24px;
}

.a-link-wp-stack {
	text-decoration: none;
	color: blue;
	font-size: 24px;
}

.a-link-wp-stack:hover {
	color: purple;
}