
/* WP-LEARN_ENGLISH.css */
.wp-learn-english {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 14px;
	padding: 20px 20px 20px 20px;
}