
.wp-math {
	background-color: white;
	width: 760px;
	height: auto;
	margin: 10px auto;
	padding: 20px 20px 20px 20px;
	border: 2px solid black;
	border-radius: 14px;
}

.nav-math {}

.ul-math {}

.li-math {
	list-style-type: none;
}

.a-link-math {
	color: blue;
	font-size: 24px;
	text-decoration: none;
}

.a-link-math:hover {
	color: purple;
}