.wp-juridica {
	background-color: #fff;
	width: 760px;
	margin: 10px auto;
	padding: 20px;
	border: 4px solid green;
	border-radius: 14px;
}

.nav-juridica {}

.ul-juridica {}

.li-juridica {
	list-style-type: none;
}

.a-link-juridica {
	color: blue;
	font-size: 24px;
	text-decoration: none;
}

.a-link-juridica:hover {
	color: purple;
}