 <h2>Here will be Node Documentation</h2>

        <br /><p style="text-align: justify; letter-spacing: 1px; font-size: 17px;"><b>Description</b> : Va fi o documentatie deplina comparativ cu saitul oficial care nu are o documentatie deplina. De aceia am decis aici sa fie aici o documentatie deplina... Dar idea principala consta ca vreau sa fac siteuri cu ajutorul la Node.js inclusiv site tutorial si my-blog.</p> <br />

        <h2>Node.js v16.13.1 documentation</h2>
        <ul style="padding: 0px 0px 0px 20px;">
            <li>Асинхронное программированиеa Node.js</li>
            <li>npm и npx</li>
            <li>цикл событий, стек вызовов, таймеры</li>
            <li>console</li>
            <li>fs</li>
            <li>debugger</li>
            <li>Errors</li>
            <li>Repl</li>
        </ul>

    </br>