
.avertizare {
	background-color: lightblue;
	width: 760px;
	padding: 20px;
	margin: 10px auto;
	border-radius: 14px;
	border: 4px solid black;
}

.p-avertizare {
	font-size: 24px;
	color: black;
}

#tag-strong {
	color: red;
}
