* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #eee;
}

.header-admin {
	width: auto;
	height: auto;
	background-color: teal;
	color: white;
	height: 40px;
	padding: 20px 20px 20px 20px; 
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.h4-admin-panel {
	font-size: 32px;
	text-shadow: 0px 2px 2px black;
	text-transform: uppercase;
	font-family: "Verdana";
}

.admin-left-menu {
	border: 4px solid black;
	background-color: coral;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 20px 40px;
}

.nav-admin-left-menu {}

.li-admin-left-menu {
	/*list-style-type: circle;*/
	text-transform: uppercase;
}

.a-link-admin-left-menu {
	text-decoration: none;
	font-size: 32px;
	color: black;
}

.a-link-admin-left-menu:hover {
	color: white;
	text-shadow: 0px 2px 2px black;
}
