* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("../../img/admin/new_year_girl.png");
	background-repeat: no-repeat;
	background-attachment: ;
	background-position: top center;
	background-color: white;
	font-family: "Verdana";
}

/* header: return main page */
.return-main-page {
	background-color: white;
	width: 340px;
	height: auto;
	margin: 20px auto auto auto;
	padding: 24px 30px 24px 30px;
	border: 2px solid green;
	border-radius: 14px;
	cursor: pointer;
}

.a_link_return_main_page {
	text-decoration: none;
	font-size: 24px;
	color: blue;
}

.return-main-page:hover {
    background-color: green;
    border: 2px solid darkgreen;
}

.return-main-page:hover .a_link_return_main_page {
    color: yellow;
	text-shadow: 0px 1px 1px black;
}

/* Bellow is wallpaper */
.main-block {
	background-color: white;
	width: 340px;
	height: auto;
	margin: 20px auto auto auto;
	padding: 20px 20px 20px 20px;
	border: 2px solid darkgreen;
	border-radius: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 120px; /* Фиксированная ширина для выравнивания */
    text-align: right;
}

input.inp_con_adm {
    flex: 1; /* Растягиваем поле ввода */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input.inp_con_adm:focus {
    border-color: darkgreen;
    box-shadow: 0px 0px 8px rgba(0, 128, 0, 0.5);
}

#btn-submit {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-submit:hover {
    background-color: green;
}

/* Ссылка забытого пароля */
.a-link-forgot_pass {
    color: darkgreen;
    text-decoration: none;
    font-size: 16px;
    text-align: center;

}

.a-link-forgot_pass:hover {
    text-decoration: underline;
}