
.result-page {
	background-color: white;
	color: green;
	text-transform: uppercase;
	width: 760px;
	height: auto;
	margin: auto auto 10px auto;
	padding: 22px 20px 20px 20px;
	border: 4px solid green;
	border-radius: 14px; 
}

.result-page:hover {
	background-color: auto;
	border: 4px solid brown;
	color: brown;
}