.pagination {
	background: #28364f;
	width: 800px;
	height: auto;
	margin: auto;
	border: 2px solid black;
	padding: 0px 0px 0px 0px;
}

.nav-pagination {
	margin: 0px 0px 0px 0px;
	padding: 8px 30px 8px 30px;
}

.ul-pagination {
	width: 420px;
	height: auto;
	margin: auto;
}

.li-pagination {
	display: inline-block;
	cursor: pointer;
	height: auto;
	padding: 4px 4px 4px 4px;
	font-size: 20px;
}

.li-pagination:hover {}

.link-pagination {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
}

.link-pagination:hover {
	color: green;
}


