
.animation-biologia {
	background-image: url("../../img/animation/biologia-animation.png");
	background-color: white;
	width: 800px;
	height: 420px;
	margin: auto auto 10px auto;
	border: 2px solid black;
	border-radius: 14px;
}