
.animation_entertainment {
	background-image: url("../../img/animation/cut-image-02.png");
	background-color: white;
	width: 800px;
	height: 400px;
	margin: auto auto 10px auto;
	border: 2px solid black;
	border-radius: 14px;
}