
.animation-web-security {
	background-image: url("../../img/animation/sword-art-online-sword-art-online-ii-shino-asada-sinon-sword-art-online-hd-wallpaper-preview.jpg");
	background-color: white;
	width: 800px;
	height: 420px;
	margin: auto auto 10px auto;
	border: 4px solid green;
	border-radius: 14px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.animation-web-security:hover {
	border: 4px solid brown;
}