
.animation-prog {
	background-image: url("../../img/animation/anime_pirates.jpg");
	background-color: white;
	width: 800px;
	height: 448px;
	margin: auto auto 10px auto;
	border: 4px solid green;
	border-radius: 14px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.animation-prog:hover {
	border: 4px solid brown;
}