
.animation-all-about-state {
	background-image: url("../../img/animation/all_about_state.png");
	background-color: white;
	width: 800px;
	height: 400px;
	margin: auto auto 10px auto;
	border: 2px solid black;
	border-radius: 14px;
}
