
.animation-home {
	background-image: url("../../img/animation/two_persons.png");
	background-color: white;
	width: 800px;
	height: 400px;
	margin: auto auto 10px auto;
	border: 4px solid green;
	border-radius: 14px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.animation:hover {
	border: 4px solid brown;
}