:root {
	--bg-main: #eee;
	--bg-inside-blocks: white;
}

* {
	padding: 0px;
	margin: 0px;
}

:root {}

body {
	background: var(--bg-main);
	font-display: block;
	font-family: "verdana";
	box-sizing: border-box;
}

#logger {
	display: none;
	background: rgb(240, 240, 240);
	width: 100%;
	height: 34px;
	margin: 10px auto 16px auto; 
}

.align-logger {
	width: 800px;
	margin: auto;
}

/* Acest block este ascuns deasupra la header */
.input-change-size {
	background-color: white;
	color: darkgreen;
	font-size: 24px;
	padding: 4px 0px 4px 12px;
	border: 2px solid silver;
	width: 250px;
	border-radius: 14px;
}

.input-change-size:focus {
	border: 2px solid black;
	outline: none;
}

.input-change-size::placeholder {
  color: silver;
}

.right-logger {
	background-color: auto;
	width: 240px;
	height: 100%;
	float: right;
}

/* Asta e sign in ascuns */
/* desupra la header */
.sign_in {
	background-color: white;
	color: #132e57;
	border: 2px solid #132e57;
	border-radius: 14px;
	text-decoration: none;
	padding: 7px 16px 6px 14px; 
	font-size: 20px;
	cursor: pointer;
	position: relative;
	top: -1px;
}

.sign_in:hover {
	background-color: white;
	border: 2px solid #1d51a1;
	color: #1d51a1;
}

.sign_up {
	background-color: white;
	color: brown;
	border: 2px solid brown;
	border-radius: 14px;
	text-decoration: none;
	font-size: 20px;
	padding: 6px 14px 6px 14px; 
}

.sign_up:hover {
	background-color: white;
	color: red;
	border: 2px solid red;
}

/* Header */
.header {
	background: white;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 10px 0px;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}

.header-left-block {
	background: auto;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.circle-three-lines {
	background: auto;
	width: 30px;
	height: 30px;
	margin-right: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	padding: 3px 4px 3px 4px;
	position: relative;
	right: 8px;
	bottom: -1px;
}

.circle-three-lines:active {
	background: rgb(240, 240, 240);
	width: 30px;
	height: 30px;
}

.circle-line-1 {
	background: black;
	width: 20px;
	height: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.circle-line-2 {
	background: black;
	width: 20px;
	height: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.circle-line-3 {
	background: black;
	width: 20px;
	height: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#name-of-the-site {
	background: green;
	padding: 10px 12px 9px 12px;
	border-radius: 14px;
	font-size: 20px;
	letter-spacing: 2px;
	display: flex;
	flex-direction: row;
	text-shadow: 0px 1px 1px black;
	border: 1px solid black;
}

#name-of-the-site:hover {
	background: orange;
	border: solid 1px black;
	text-shadow: 0px 1px 1px black;
}

#tutorial-online {}

#link-a-tutorial-online {
	color: white;
	text-decoration: none;
	font-family: 'Grandstander', cursive;
}

.header-middle-block {
	background: auto;
	width: 800px;
	height: 100%;
	margin: 0px auto 0px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-right-block {
	background: auto;
	width: 20%;
	height: 100%;
}

/* Search Block */
.search-form {
	/*background-color: red;*/
	width: auto;
	height: auto;
}

.input-text:focus {
	border: 2px solid darkgreen;
	outline: none;
	color: blue;
	letter-spacing: 1px;
}

.input-text::placeholder {
  color: lightblue;
}

.input-text {
	color: black;
	width: 240px;
	height: 38px;
	font-size: 22px;
	padding: 5px 10px 3px 10px;
	border: 1px solid green;
	position: relative;
	top: 1px;
	word-spacing: 4px;
}

#search-button {
	font-family: 'Verdana';
	background: brown;
	color: white;
	border: 1px solid black;
	padding: 11px 6px 11px 6px;
	letter-spacing: 2px;
	cursor: pointer;
	text-shadow: 0px 1px 0px black;
	font-size: 20px;
	position: relative;
	top: 1px;
}

/* header-menu */
.two-menu-middle-header {
	background: pink;
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

/* header-menu */
.inside-two-menu-middle-header {
	width: 100px;
	margin: 0px 0px 0px 0px;
	font-size: 20px;
}

/* header-menu */
.color-two-links {
	background: rgb(80, 200, 80);
	color: white;
	text-decoration: none;
	padding: 4px 15px 6px 15px;
	border-radius: 40px;
	text-shadow: 0px 1px #000;
	letter-spacing: 1px;
	border: 1px solid #000;
}

/*Sign In ?*/
/* header-menu */
.inside-two-menu-middle-header:hover a {
	color: none;
	background: purple; 
}

/* Sign In */
#sign-in-color {}

/* Sign In && Sign Up */
#sorry {
	background: rgb(100, 0, 180);
	color: white;
	border: 1px solid #000;
	padding: 8px 16px 8px 16px;
	font-size: 20px;
	font-family: Verdana;
	margin: 0px 0px 0px 0px;
	font-family:;
	cursor: pointer;
	text-shadow: 0px 1px #000;
	letter-spacing: 1px;
	float: right;
}

/* Sign In */
.menu-middle-header-2 {
	background: auto;
	width: 200px;

}
