.menu {
	background-color: transparent;
	width: 700px;
	height: auto;
	font-size: 22px;
	text-transform: uppercase;
	padding: 8px 0px 8px 0px;
	position: relative;
	left: 17px;
}

.nav-menu {}

.ul-menu {}

.li-menu {
	display: inline-block;
}

.a-link-menu {
	text-decoration: none;
	background-color: #59a62d;
	color: white;
	padding: 7px 20px 7px 20px;
	border: 1px solid black;
	border-radius: 14px;
	text-shadow: 1px 1px 1px black;
}

.a-link-menu:hover {
	background-color: orange;
	border: 1px solid black;
	text-shadow: 1px 1px 2px black;
}