* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #eee;
	width: 100%;
	font-family: "Verdana";
}

.wp-sign-up {
	background-color: transparent;
	width: 780px;
	height: auto;
	margin: auto;
}

.header-reg {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	height: 30px;
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	margin: 10px auto;
}

.a-link-return-main-page {
	color: blue;
	text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;
}

.a-link-return-main-page:hover {
	color: orange;
}

.h2-reg {
	margin: 0;
	font-size: 24px;
	text-transform: uppercase;
	color: brown;
}

/* bellow */

.main-reg {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 1 */
}

.reg-fields {
    width: calc(100% - 20px); /* 2 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.reg-fields:focus { /* 3 */
    outline: none; /* 4 */
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.title {
    display: block; /* 5 */
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.select-group {
    display: flex;
    gap: 10px; /* 6 */
    margin-top: 10px;
    margin-bottom: 20px;
}

.custom-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    font-size: 16px;
}

.custom-select:focus {
    border-color: #007bff;
    outline: none;
}

.checkbox-group {
    margin-top: 20px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.checkbox-group input {
    margin-right: 10px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 20px;
    text-align: center;
}

.link-forgot {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    transition: color 0.3s ease;
}

.link-forgot:hover {
    color: #0056b3;
}
